In [1]:
# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
from pandas import DataFrame
import numpy as np
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [8]:
df_hotel = pd.read_csv("finanzas-hotel-bookings.csv", index_col=0)
df_hotel.head()

/home/miriam/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

In [9]:
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB

In [11]:
info_columnas = pd.concat([df_hotel.isnull().sum(), (df_hotel.isnull().sum()/df_hotel.shape[0]) * 100, df_hotel.dtypes], axis=1)
info_columnas.columns = ['Total de Nulos','Porcentaje de Nulos', 'Tipos de Columnas']
info_columnas

,Total de Nulos,Porcentaje de Nulos,Tipos de Columnas
hotel,63487,34.715683,object
is_canceled,63487,34.715683,object
lead_time,63387,34.661002,float64
arrival_date_year,118048,64.550490,float64
arrival_date_month,63487,34.715683,object
arrival_date_week_number,81873,44.769435,float64
arrival_date_day_of_month,63606,34.780754,float64
stays_in_weekend_nights,63387,34.661002,float64
stays_in_week_nights,63387,34.661002,float64
adults,63449,34.694904,float64
children,113575,62.104584,float64
babies,63446,34.693264,float64
meal,63487,34.715683,object
country,117823,64.427457,object
market_segment,122943,67.227153,object
distribution_channel,76978,42.092773,object
is_repeated_guest,68501,37.457417,float64
previous_cancellations,106649,58.317339,float64
previous_bookings_not_canceled,63487,34.715683,float64
reserved_room_type,103602,56.651192,object
assigned_room_type,63487,34.715683,object
booking_changes,63459,34.700372,float64
agent,79827,43.650650,float64
company,179007,97.883824,float64
days_in_waiting_list,63487,34.715683,float64
customer_type,88678,48.490515,object
adr,63487,34.715683,float64
required_car_parking_spaces,63487,34.715683,float64
total_of_special_requests,63487,34.715683,float64
reservation_status,63487,34.715683,object
reservation_status_date,76363,41.756481,object
0,139926,76.513722,object

In [12]:
df_hotel["hotel"].unique()

array(['Resort Hotel', 'City Hotel', nan], dtype=object)

In [13]:
df_hotel["is_canceled"].value_counts()

False    75166
True     44224
Name: is_canceled, dtype: int64

In [14]:
df_hotel.duplicated().sum()

63040

In [15]:
def exploracion_csv(archivo):
  
    #Echamos un vistazo
    print("Primeras filas:")
    display(df_hotel.head(10))
    print("-----------------------------")

    print("Últimas filas:")
    display(df_hotel.tail(10))
    print("-----------------------------")

    print("Filas aleatorias:")
    display(df_hotel.sample(10))
    print("-----------------------------")

    print("El df tiene {df_hotel.shape[0]} filas y {df_hotel.shape[1]} columnas")
    print("-----------------------------")

    print("Tipos de datos y nulos:")
    display(df_hotel.info())
    print("-----------------------------")
    
    print(f"Características columnas númericas:\n{df_hotel.describe().T}")
    print(f"-----------------------------")

    print(f"Características columnas de texto:\n{df_hotel.describe (include='object').T}")
    print(f"-----------------------------")

    print(f"Duplicados:\n{df_hotel.duplicated().sum()}")
    print(f"-----------------------------")

    # generamos un DataFrame para los valores nulos
    print("Los nulos que tenemos en el conjunto de datos son:")
    df_nulos = pd.DataFrame(df_hotel.isnull().sum() / df_hotel.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])

    print("\n ..................... \n")
    print("Los valores que tenemos para las columnas categóricas son: ")
    df_categoricas = df_hotel.select_dtypes(include = "O")
    
    for col in df_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(df_hotel[col].value_counts()/df_hotel[col].shape[0])*100)

In [16]:
exploracion_csv("finanzas-hotel-bookings.csv")

Primeras filas:

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
5,Resort Hotel,False,14.0,NaN,July,27.0,1.0,0.0,2.0,2.0,NaN,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,NaN,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
6,Resort Hotel,False,0.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,NaN,NaN,0.0,NaN,107.0,0.0,0.0,Check-Out,2015-07-03 00:00:00,NaN
7,Resort Hotel,False,9.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,0.0,0.0,FB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,303.0,NaN,0.0,NaN,103.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
8,Resort Hotel,True,85.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,BB,PRT,NaN,NaN,0.0,NaN,0.0,A,A,0.0,240.0,NaN,0.0,Transient,82.0,0.0,1.0,Canceled,2015-05-06 00:00:00,NaN
9,Resort Hotel,True,75.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,HB,NaN,NaN,TA/TO,0.0,0.0,0.0,D,D,0.0,15.0,NaN,0.0,Transient,105.5,0.0,0.0,Canceled,2015-04-22 00:00:00,NaN

-----------------------------
Últimas filas:

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
182867,NaN,NaN,390.304129,NaN,NaN,NaN,NaN,11.458344,23.291221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182868,NaN,NaN,222.703566,NaN,NaN,NaN,NaN,11.193862,18.600639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182869,NaN,NaN,325.951764,NaN,NaN,NaN,NaN,15.295969,24.246056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182870,NaN,NaN,295.615115,NaN,NaN,NaN,NaN,18.333015,20.181327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182871,NaN,NaN,231.480575,NaN,NaN,NaN,NaN,18.880637,16.523465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

-----------------------------
Filas aleatorias:

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
8355,Resort Hotel,True,197.0,NaN,September,39.0,23.0,1.0,2.0,2.0,0.0,0.0,BB,ESP,NaN,Direct,0.0,NaN,0.0,D,D,0.0,250.0,NaN,0.0,NaN,92.10,0.0,0.0,Canceled,2016-06-16 00:00:00,NaN
126833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
153490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
104932,City Hotel,False,15.0,NaN,January,3.0,19.0,2.0,5.0,2.0,0.0,0.0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,A,A,0.0,7.0,NaN,0.0,Transient,72.65,0.0,1.0,Check-Out,2017-01-26 00:00:00,NaN
28701,Resort Hotel,False,383.0,NaN,October,41.0,6.0,0.0,3.0,2.0,NaN,0.0,BB,GBR,NaN,NaN,0.0,NaN,0.0,NaN,A,0.0,315.0,NaN,0.0,Transient-Party,54.00,1.0,0.0,Check-Out,2016-10-09 00:00:00,NaN
181400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
118414,City Hotel,False,20.0,NaN,August,NaN,19.0,0.0,1.0,2.0,NaN,0.0,BB,FRA,NaN,TA/TO,0.0,0.0,0.0,NaN,D,0.0,9.0,NaN,0.0,Transient,190.00,0.0,1.0,Check-Out,NaN,NaN
157537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,November
30622,Resort Hotel,False,5.0,NaN,November,48.0,24.0,2.0,3.0,2.0,0.0,0.0,BB,NaN,Offline TA/TO,TA/TO,0.0,NaN,0.0,A,C,0.0,177.0,NaN,0.0,Transient,34.00,0.0,0.0,Check-Out,2016-11-29 00:00:00,NaN
31815,Resort Hotel,False,3.0,NaN,January,1.0,7.0,0.0,1.0,2.0,NaN,0.0,BB,PRT,NaN,TA/TO,0.0,0.0,0.0,A,D,0.0,330.0,NaN,0.0,NaN,44.00,0.0,1.0,Check-Out,2017-01-08 00:00:00,NaN

-----------------------------
El df tiene {df_hotel.shape[0]} filas y {df_hotel.shape[1]} columnas
-----------------------------
Tipos de datos y nulos:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB

None

-----------------------------
Características columnas númericas:
                                   count         mean         std      min  \
lead_time                       119490.0   104.172628  106.975949     0.00
arrival_date_year                64829.0  2016.156196    0.706674  2015.00
arrival_date_week_number        101004.0    27.175785   13.613871     1.00
arrival_date_day_of_month       119271.0    15.795977    8.780503     1.00
stays_in_weekend_nights         119490.0     0.939461    1.082472     0.00
stays_in_week_nights            119490.0     2.515068    1.976511     0.00
adults                          119428.0     6.244423   14.574814     0.00
children                         69302.0     0.125162    0.688305     0.00
babies                          119431.0     0.019903    0.433366     0.00
is_repeated_guest               114376.0     0.031877    0.175674     0.00
previous_cancellations           76228.0     0.109317    1.028093     0.00
previous_bookings_not_canceled  119390.0     0.137097    1.497437     0.00
booking_changes                 119418.0     0.232737    0.770795     0.00
agent                           103050.0    86.693382  110.774548     1.00
company                           3870.0   188.828424  131.473039     6.00
days_in_waiting_list            119390.0     2.321149   17.594721     0.00
adr                             119390.0   101.831122   50.535790    -6.38
required_car_parking_spaces     119390.0     0.062518    0.245291     0.00
total_of_special_requests       119390.0     0.571363    0.792798     0.00

                                    25%       50%     75%          max
lead_time                         18.00    69.000   161.0   737.000000
arrival_date_year               2016.00  2016.000  2017.0  2017.000000
arrival_date_week_number          16.00    28.000    38.0    53.000000
arrival_date_day_of_month          8.00    16.000    23.0    31.000000
stays_in_weekend_nights            0.00     1.000     2.0    19.914715
stays_in_week_nights               1.00     2.000     3.0    50.000000
adults                             2.00     2.000     2.0    59.000000
children                           0.00     0.000     0.0    19.000000
babies                             0.00     0.000     0.0    19.000000
is_repeated_guest                  0.00     0.000     0.0     1.000000
previous_cancellations             0.00     0.000     0.0    26.000000
previous_bookings_not_canceled     0.00     0.000     0.0    72.000000
booking_changes                    0.00     0.000     0.0    21.000000
agent                              9.00    14.000   229.0   535.000000
company                           62.00   178.000   270.0   543.000000
days_in_waiting_list               0.00     0.000     0.0   391.000000
adr                               69.29    94.575   126.0  5400.000000
required_car_parking_spaces        0.00     0.000     0.0     8.000000
total_of_special_requests          0.00     0.000     1.0     5.000000
-----------------------------
Características columnas de texto:
                          count unique                  top   freq
hotel                    119390      2           City Hotel  79330
is_canceled              119390      2                False  75166
arrival_date_month       119390     15               August  13877
meal                     119390      5                   BB  92310
country                   65054    163                  PRT  26577
market_segment            59934      8            Online TA  28331
distribution_channel     105899      5                TA/TO  86822
reserved_room_type        79275     10                    A  57202
assigned_room_type       119390     12                    A  74053
customer_type             94199      4            Transient  70610
reservation_status       119390      3            Check-Out  75166
reservation_status_date  106514    991  2015-10-21 00:00:00   1298
0                         42951   1588                  0.0  12780
-----------------------------
Duplicados:
63040
-----------------------------
Los nulos que tenemos en el conjunto de datos son:

                                  %_nulos
hotel                           34.715683
is_canceled                     34.715683
lead_time                       34.661002
arrival_date_year               64.550490
arrival_date_month              34.715683
arrival_date_week_number        44.769435
arrival_date_day_of_month       34.780754
stays_in_weekend_nights         34.661002
stays_in_week_nights            34.661002
adults                          34.694904
children                        62.104584
babies                          34.693264
meal                            34.715683
country                         64.427457
market_segment                  67.227153
distribution_channel            42.092773
is_repeated_guest               37.457417
previous_cancellations          58.317339
previous_bookings_not_canceled  34.715683
reserved_room_type              56.651192
assigned_room_type              34.715683
booking_changes                 34.700372
agent                           43.650650
company                         97.883824
days_in_waiting_list            34.715683
customer_type                   48.490515
adr                             34.715683
required_car_parking_spaces     34.715683
total_of_special_requests       34.715683
reservation_status              34.715683
reservation_status_date         41.756481
0                               76.513722

 .....................

Los valores que tenemos para las columnas categóricas son:
La columna HOTEL tiene las siguientes valore únicos:

                  hotel
City Hotel    43.378883
Resort Hotel  21.905434

La columna IS_CANCELED tiene las siguientes valore únicos:

       is_canceled
False    41.101943
True     24.182374

La columna ARRIVAL_DATE_MONTH tiene las siguientes valore únicos:

           arrival_date_month
August               7.588160
July                 6.923233
May                  6.447503
October              6.102462
April                6.063638
June                 5.981616
September            5.745939
November             3.715065
December             3.707410
March                3.238242
February             2.678303
3                    2.117270
January              1.958147
2                    1.733406
1                    1.283923

La columna MEAL tiene las siguientes valore únicos:

                meal
BB         50.476550
HB          7.908594
SC          5.823586
Undefined   0.639227
FB          0.436359

La columna COUNTRY tiene las siguientes valore únicos:

       country
PRT  14.532719
GBR   3.600781
FRA   3.147471
ESP   2.576595
DEU   2.171952
..         ...
LIE   0.000547
NIC   0.000547
GGY   0.000547
FJI   0.000547
UMI   0.000547

[163 rows x 1 columns]

La columna MARKET_SEGMENT tiene las siguientes valore únicos:

               market_segment
Online TA           15.491833
Offline TA/TO        6.625218
Groups               5.472531
Direct               3.474466
Corporate            1.445234
Complementary        0.198494
Aviation             0.064524
Undefined            0.000547

La columna DISTRIBUTION_CHANNEL tiene las siguientes valore únicos:

           distribution_channel
TA/TO                 47.475626
Direct                 7.106963
Corporate              3.225665
GDS                    0.096240
Undefined              0.002734

La columna RESERVED_ROOM_TYPE tiene las siguientes valore únicos:

   reserved_room_type
A           31.278947
D            6.910109
E            2.375914
F            1.042777
G            0.751871
B            0.407924
C            0.341760
H            0.234037
P            0.003281
L            0.002187

La columna ASSIGNED_ROOM_TYPE tiene las siguientes valore únicos:

   assigned_room_type
A           40.493337
D           13.846465
E            4.268443
F            2.051105
G            1.396020
C            1.298687
B            1.182762
H            0.389333
I            0.198494
K            0.152562
P            0.006562
L            0.000547

La columna CUSTOMER_TYPE tiene las siguientes valore únicos:

                 customer_type
Transient            38.610651
Transient-Party      10.848275
Contract              1.799023
Group                 0.251535

La columna RESERVATION_STATUS tiene las siguientes valore únicos:

           reservation_status
Check-Out           41.101943
Canceled            23.522367
No-Show              0.660006

La columna RESERVATION_STATUS_DATE tiene las siguientes valore únicos:

                     reservation_status_date
2015-10-21 00:00:00                 0.709767
2015-07-06 00:00:00                 0.400269
2016-11-25 00:00:00                 0.378396
2015-01-01 00:00:00                 0.370741
2016-01-18 00:00:00                 0.307310
...                                      ...
2029-04-31                          0.000547
2022-09-31                          0.000547
2029-02-30                          0.000547
2029-06-31                          0.000547
2024-11-31                          0.000547

[991 rows x 1 columns]

La columna 0 tiene las siguientes valore únicos:

                0
0.0      6.988304
2.0      1.292125
1.0      1.159796
A        0.968410
BB       0.687347
...           ...
48.2     0.000547
149.5    0.000547
68.07    0.000547
153.07   0.000547
4/02/17  0.000547

[1588 rows x 1 columns]